body {
    background-image: url("../images/stockspace.jpg");
    font-family: 'Signika', sans-serif;
}
.projectLink{
    margin: 10px;
    text-shadow:5px orange;
    align-self:center;
    position:relative;
    left:25%;
    color: white !important;
}
.projectLink:hover{
  color:orange !important;  
}
i{
    margin: 10px;
    color:white !important;
}
i:hover{
    color:orange !important;
}
.jumbotron{
    padding: 5% !important;
    background-image: url("../images/stockspace.jpg") !important;
    background-size: auto !important;
    color: white !important;
    text-align:center !important;
}
h1{
    opacity: 1 !important;
    animation: fade 5s linear !important;
}
@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 1 }
  }
.imgHolder{
    background-image: url("../images/stockspace4.jpg");
    margin-bottom: 75%;
    opacity: 75;
    width:100%;
    height: 500px;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}
h3 {
    color: white;
    opacity: 1 !important;
    animation: fade 5s linear !important;

}

h4 {
    color: white;
    opacity: 1 !important;
    animation: fade 5s linear !important;


}
h5 {
    color: white;
    vertical-align: left;


}
.lead{
    opacity: 1 !important;
    animation: fade 5s linear !important;
}
#aboutMe{
    background-color: #262626;
    padding:10%;
}
#aboutMe:hover{
    box-shadow: 10px 10px 5px black;
    text-shadow: 10px 10px 5px black;
}

p {
    font-size: 20px;
    color: #b3b3b3;
}

.projectImg {
    border-radius: 50%;
    height: 200px;
    width:200px;
    margin: 20px;
    float:left;
    display: inline-block;

}
.contentWrapper {
    color: white;
    padding: 20px;
    margin-bottom: 20%;
    width: 100% !important;

}

.projectName {
    font-size: 20px;
    text-align:center;
    margin-top:20px;
}

.card{
    display:inline-block
}
.projectImg:hover{
    box-shadow: 10px 10px 5px orange;
}
.card-body{
    display:inline-block
}
.contact{
    line-height: 0.3em;
    font-size: 17px;
    vertical-align:right;
}
#mePic{
    float: left;
    margin-right: 40px;
    height: 200px;
    width: 235px;
}
#projects{
    background-color: black;
    height: 500px;
}
.col-md-2{
    display:inline-block;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#262626;
    color: white;
    text-align: center;
  }
  a{
      color: white !important;
  }
  #email{
      border-right:5px #333333;
  }
  #skillsContainer{
      background-color: #333333;
      text-align: center;
      padding: 10%;
      margin-bottom: 25%;
      margin-left: 5%;
      margin-right:5%;
      border: 2px solid #1a1a1a !important;
      border-radius: 25px;

  }