body {
    background-image: url("../images/memphis-mini.png");
    font-family: 'Signika', sans-serif;
}
nav{
    background-color: #f0f0f5;
    color:#a4a4c1;
    font-weight:bold;
    border-bottom: 2px solid #a4a4c1;
    border-right: 2px solid #a4a4c1;
}

h1 {
    background-color: #99ccff;
    color: white;
    border-bottom: 2px solid #a4a4c1;
    border-right: 2px solid #a4a4c1;

}

h3 {
    background-color: #99ccff;
    color: white;
    border-bottom: 2px solid #a4a4c1;
    border-right: 2px solid #a4a4c1;

}

h4 {

    background-color: #99ccff;
    color: white;
    border-bottom: 2px solid #a4a4c1;
    border-right: 2px solid #a4a4c1;


}

p {
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
    float: left;
}

.contentWrapper {
    background-color: #f0f0f5;
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #a4a4c1;
    border-right: 2px solid #a4a4c1;

}

.projectName {
    font-size: 20px;
}

#aboutMe {
    padding-bottom: 100px
}
.card{
    display:inline-block
}
.card-body{
    display:inline-block
}
#info{
    float:right;
}
#projects{
    float:left;
    position:relative;
    bottom:170px;
    width:1090px;
    right:60px
}
#aboutMe{
    float:left;
    position:relative;
    right:60px;
    bottom:170px;
}
#furkeeps{
    float:left;
    position:relative;
    right:754px;
    margin:20px
}